@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {

    background: linear-gradient(#a6d8ff, white, salmon);
}

/*--Background Styling--*/

.scene {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

/*--Title Image Styling--*/

.lightyourfuture {
    width: 600px;
}

@media only screen and (max-width: 1800px) {
    .lightyourfuture {
        width: 550px;
        height: auto;

    }
}

@media only screen and (max-width: 1000px) {
    .lightyourfuture {
        width: 400px;
        height: auto;

    }
}

/*--Click to Next Page Styling--*/

.enterTxt {
    font-family: 'Roboto',
        sans-serif;
    font-size: 2em;
}

/*--Index Game Design Styling--*/

.character {
    position: absolute;
    left: 0;
    bottom: 5%;
    max-width: 200px;
    z-index: 1;
}

.arrows {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px;
    width: 250px;
}

.start {
    position: fixed;
    right: 0;
    bottom: 5%;
    padding: 20px;
    width: 75px;
}

/*--Game Page Title Styling--*/

.gameTitle {
    position: fixed;
    left: 0;
    top: 0;
    width: 10%;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;

}

.gameTitle img {
    width: 100%;
}